{% extends 'layout.html' %}

{% block body %}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update/{{cliente.0}}" method="POST">
            <div class="form-group">
                <input type="text" name="nombreCompleto" placeholder="Nombre Completo" value="{{ cliente.1 }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="telefono" placeholder="Telefono" value="{{ cliente.2 }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="email" placeholder="Email" value="{{ cliente.3 }}" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                    Save
                </button>
            </div>
            
            
        
        </form>
    </div>
</div>

{% endblock %}